@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Reddit+Sans+Condensed:wght@200..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html, body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root{
  --primary-font:"Reddit Sans Condensed", sans-serif;
  --secondary-font:"Dancing script", cursive;
  --color-black: #333333;
  --color-white: #ffffff;
  --color-primary: #FF3399;
}
@media screen and (max-width:37.5em) {
  *{
    display: flex;
    flex-direction: column;
  }
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-text{
 text-transform: capitalize; 
}
.header-nav-list{
  list-style: none;
  display: flex;
  gap: 2rem;
}
.header-nav-link{
  text-decoration: none;
  text-transform: capitalize;
}
body{
  font-size: 1.6rem;
  font-family: var(--primary-font);
  color: var(--color-black);
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-subtitle{
  font-family: var(--secondary-font);
  color: var(--color-primary);
  text-transform: capitalize;
  font-size: 3rem;
}
.title-maintitle{
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}
.swimming-pool{
  display: flex;
  flex-direction: column;
  padding: 4rem 8rem;
  /* display: grid; */
  /* grid-template-columns: auto auto; */
  align-items: center;
  gap: 3rem;
}
.amenities-image img{
  width: 30rem;
  border-radius: 20px;
}

.hero{
  padding: 4rem 8rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 3rem;
}
.hero-image--img{
  width: 40rem;
  border-radius: 20px;
}
.hero-cta{
  display: inline-block;
  background-color: var(--color-primary);
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-white);
padding:0.5rem 1rem ;
border-radius: 30px ;
}


.textbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.menu {
  padding: 6rem 2rem;
}
.about {
  padding: 4rem 8rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 3rem;
}
.about-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about-text {
  /* text-align: center; */
  letter-spacing: 1.8px;
  font-size: 1.4rem;
  color: #777;
  line-height: 2;
}
.about-cta {
  /* this will center an inline element */
  /* display: block; */
  /* width: max-content; */
  /* margin: 0 auto; */
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-black);
}

.about-image--img {
  width: 40rem;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.about-image--img:hover {
  transform: scale(1.02);
}

.container-section{
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.menu-items-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  row-gap: 4rem;
  margin-top: 2rem;
}

.flex-container{
  display: flex;
  flex-direction: column;
}

.menu-item {
  margin-top: 4%;
  width: 37rem;
  display: flex;
  flex-direction: column;
}

.menu-item-image {
  height: 25rem;
  border-radius: 10px;
  overflow: hidden;
}

.menu-item-image-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.menu-item-title {
  margin: 1rem 0;
  text-transform: capitalize;
  font-weight: 300;
}

.menu-item-description {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  text-align: justify;
  line-height: 1.7;
  color: #777;
}

.menu-item-cta {
  text-transform: capitalize;
  text-decoration: none;
  color: #888;
}
.contact-form{
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.contact-form form{
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1em 2em;
  border:1px solid #333333;
  
}
form h1{
  text-align: center;
}
.form-input-container{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form-input-container label{
  text-transform: capitalize;
  font-size: 0.8em;
  font-weight: 500;
}
.form-input-container textarea , .form-input-container input{
  width: 100%;
  padding: 4px 0px 10px 0px;
  overflow: hidden;
  outline: none;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  font-size: 0.8em;
}
.form-input-container textarea::placeholder , .form-input-container input::placeholder{
  font-size: 0.8em;
  text-transform: capitalize;
  opacity: .5;
}
form button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 1em 2em;
}
form h1{
  font-size: 1em;
  text-transform: capitalize;
  color: var(--color-primary);
}

@media screen and (max-width:75em) {
  .hero, .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
@media screen and (max-width:40.7em) {
 .hero-image, .about-image, .amenities-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
 }
 .hero-image img, .about-image img, .amenities-image img{
  width: 100%;
 }
 .menu-items-container{
  justify-content: center;
  align-items: center;
 }
 .menu-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
 }
 .menu-item-description{
  text-align: center;
 }
}
@media screen and (max-width:38.2em) {
.menu-item{
  text-align: center;
}
.menu-items-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
}